.todo-list {
  margin: 0 auto;
  margin-top: 75px;
}

input.new-item:focus {
  outline: none;
}

.list-group-item > button.delete,
.list-group-item > button.complete {
  float: right;
  height: 25px;
  margin-left: 5px;
}

.edit {
  width: 100%;
}

.main-header {
  width: 100%;
  text-align: center;
  height: 60px;
  color: black;
  background: silver;
  border-radius: 5px;
  padding-top: 12px;
  font-size: 20px;
}
